<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stratofax.macup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/neil/Repos/stratofax/mac-bash/macup.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/neil/Library/Logs/macup.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/neil/Library/Logs/macup.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOMEBREW_CASK_OPTS</key>
        <string>--appdir=/Volumes/990Pro2TB/Apps</string>
        <key>MACUP_LOG</key>
        <string>/Users/neil/Library/Logs/macup.log</string>
    </dict>
</dict>
</plist>
